@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #041531;
    --secondary-color: #2aa786;
    --tertiary-color: #0e606a;
    --quaternary-color: #9d54e3;
    --font-family: 'Poppins', sans-serif;
    --color-text: #efedec;
}

body {
    height: 100vh;
    background-color: white;
}

nav {
    position: relative;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: var(--primary-color);
    padding: 1.2rem;
    
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    
}

nav ul li {
    display: inline;
}

nav ul li a {
    color : var(--color-text);
    font-family: var(--font-family);
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

nav ul li a:hover {
    color: var(--secondary-color);
    
}